# Node.js modules
node_modules/
npm-debug.log
.npm

# Environment variables
.env
.env.*

# production
/build
/dist
/dist/*


# Build files
build/
dist/

# IDE/Editor files
.idea/
.vscode/
*.suo
*.swp
*.swn
*.swo

# Temporary files
*.log
*.tmp
*.bak
Thumbs.db
.DS_Store

# Testing files
coverage/
test-results.xml

# Database files
*.seed
*.mongo

# Docker files (if not version controlled)
Dockerfile
docker-compose.yml

# Documentation files (if separate)
*.md
README